<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>    
<body>
    <%- include('./navigation.ejs') %>
    <main>
        <form class="post-form" action="/newpost" method="GET">

            <button class="btn" >Make a new Post</button>
        </form>
        <h1 class = "centered">No Posts Found!</h1>
               
    </main>
